Repository Azure/azure-orbital-integration, changes with the owners that .github/CODEOWNERS names for each.
All owners: @micholas, @scschneider, @srajtiwari, @CheyYeary

Improved logging. Verified SAS connection string support.
  .gitignore
  tcp-to-blob/README.md
  tcp-to-blob/deploy/ado-pipeline/prereq/prereq-azure-pipeline.yml
  tcp-to-blob/deploy/az-cli/deploy-service-and-dashboards.sh
  tcp-to-blob/deploy/bicep/deploy-core.sh
  tcp-to-blob/deploy/env-prereq-defaults.sh
  tcp-to-blob/deploy/tcp-to-blob-template.yaml
  tcp-to-blob/package.json
  tcp-to-blob/src/blobStorageCleaner.ts
  tcp-to-blob/src/blobWriter.ts
  tcp-to-blob/src/tcp-to-blob.ts
  tcp-to-blob/src/tcpClient.ts
  tcp-to-blob/src/utils.ts
  tcp-to-blob/tests/utils.spec.ts
Owners: @micholas

Reverted token name change.
  tcp-to-blob/README.md
  tcp-to-blob/deploy/ado-pipeline/prereq/prereq-azure-pipeline.yml
  tcp-to-blob/deploy/az-cli/deploy-service-and-dashboards.sh
  tcp-to-blob/deploy/env-prereq-defaults.sh
  tcp-to-blob/deploy/tcp-to-blob-template.yaml
Owners: @micholas

Updated README to cover SASS connection strings.
  tcp-to-blob/README.md
  tcp-to-blob/src/blobWriter.ts
  tcp-to-blob/src/tcp-to-blob.ts
Owners: @micholas

Fix spelling error
  tcp-to-blob/README.md
  tcp-to-blob/src/blobWriter.ts
Owners: @micholas

Fix typo in README
  tcp-to-blob/README.md
Owners: @micholas

Update comments
  tcp-to-blob/deploy/az-cli/deploy-service-and-dashboards.sh
Owners: @micholas

Fixing dynamic LogEntry
  central-logging/deploy/ADX/Tables/ContainerLog.kql
  central-logging/deploy/modules/adx.bicep
Owners: @scschneider

proper directory.
  .github/workflows/blockDownloadService_workflow.yml
Owners: @CheyYeary

Corrected file name
  .github/workflows/blobDownloadService_workflow.yml
Owners: @CheyYeary

adding license to file.
  .github/workflows/blobDownloadService_workflow.yml
Owners: @CheyYeary

Updating docs for clarity
  aqua-processor/README.md
  blob-download-service/README.md
  blob-download-service/src/appsettings.sample.json
Owners: @scschneider

SAS storage credentials support (#74)
  .gitignore
  tcp-to-blob/README.md
  tcp-to-blob/deploy/az-cli/deploy-service-and-dashboards.sh
  tcp-to-blob/deploy/bicep/deploy-core.sh
  tcp-to-blob/package.json
  tcp-to-blob/src/blobStorageCleaner.ts
  tcp-to-blob/src/blobWriter.ts
  tcp-to-blob/src/tcp-to-blob.ts
  tcp-to-blob/src/tcpClient.ts
  tcp-to-blob/src/utils.ts
  tcp-to-blob/tests/utils.spec.ts
Owners: @micholas

Addressing comments
  aqua-processor/README.md
  blob-download-service/README.md
Owners: @scschneider

Updating docs for clarity (#82)
  aqua-processor/README.md
  blob-download-service/README.md
  blob-download-service/src/appsettings.sample.json
Owners: @scschneider

Feature/blob service action (#81)
  .github/workflows/blobDownloadService_workflow.yml
Owners: @CheyYeary

Fixing dynamic LogEntry (#77)
  central-logging/deploy/ADX/Tables/ContainerLog.kql
  central-logging/deploy/modules/adx.bicep
Owners: @scschneider

Update README for Aqua Processor.
  aqua-processor/README.md
Owners: @scschneider

Update aqua-processor/README.md
  aqua-processor/README.md
Owners: @scschneider

Update aqua-processor/README.md
  aqua-processor/README.md
Owners: @scschneider

Update aqua-processor/README.md
  aqua-processor/README.md
Owners: @scschneider

Update aqua-processor/README.md
  aqua-processor/README.md
Owners: @scschneider

Update README for Aqua Processor. (#87)
  aqua-processor/README.md
Owners: @scschneider

Update overview diagram.
  docs/AzureOrbitalIntegration_v2.vsdx
  docs/AzureOrbitalIntegration_v3.vsdx
  docs/images/diagram.png
Owners: none

README updates for SAS
  tcp-to-blob/README.md
Owners: @micholas

Update overview diagram. (#90)
  docs/AzureOrbitalIntegration_v2.vsdx
  docs/AzureOrbitalIntegration_v3.vsdx
  docs/images/diagram.png
Owners: none

README updates for SAS & contact profile demodulation config (#89)
  tcp-to-blob/README.md
Owners: @micholas

Update main README and add LICENCE to all README files.
  README.md
  aqua-processor/README.md
  blob-download-service/README.md
  central-logging/README.md
  orbital-helper/README.md
  tcp-to-blob/README.md
Owners: @scschneider, @micholas

.github/CODEOWNERS:

# Copyright (c) 2022 Microsoft Corporation. All rights reserved.
# Software is licensed under the MIT License. See LICENSE in the project
# root for license information.

# Order is important. Place least specific rules first and most specific last. 

# Global owners. These are default owners unless a later match takes precedence. 

# Matching-pattern owners
*.js @micholas
*.ts @micholas
*.cs @scschneider @srajtiwari
*.bicep @scschneider @srajtiwari 

# Directory owners
/tcp-to-blob/                @micholas
/orbital-helper/             @micholas
/central-logging/            @scschneider
/blob-download-service/      @scschneider
/aqua-processor/             @scschneider
/.github/workflows/          @CheyYeary

# File owners
