Repository Azure/azure-orbital-integration, pull requests merged in 2022-10, with the labels that each got.

#161 Fixing a couple issues with directory parsing
  file-event-service/src/Actions/BlobUploadEventAction.cs
  file-event-service/src/Models/FileMetadata.cs
Labels: bug, file-event-service

#166 Modified README.md for clarification purposes
  tcp-to-blob/README.md
Labels: documentation

#173 Enable deployment via Azure Cloud Shell
  common-js/package.json
  install-node-modules.sh
  orbital-helper/package.json
  package-lock.json
  package.json
  tcp-to-blob/README.md
  tcp-to-blob/deploy/Dockerfile
  tcp-to-blob/deploy/Dockerfile-raw-canary
  tcp-to-blob/deploy/Dockerfile-text-canary
  tcp-to-blob/deploy/az-cli/deploy-service-and-dashboards.sh
  tcp-to-blob/deploy/build_and_publish_image.sh
  tcp-to-blob/deploy/check-required-env.sh
  tcp-to-blob/package.json
  tcp-to-blob/src/tcp-to-blob-text-canary.ts
  tcp-to-blob/src/tcpClient.ts
  yarn.lock
Labels: enhancement, tcp-to-blob
